* {
  box-sizing: border-box;
}
:root {
  --blue-color: #33b5e5;
  --purple-color: #9933cc;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
html {
  font-family: "Lucida Sans Unicode";
}
header {
  border-radius: 0.5rem;
  /* border: 3px solid #73ad21; */
  background-color: #9933cc;
  color: white;
  padding: 15px;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}
.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.menu li {
  padding: 8px;
  margin-bottom: 7px;
  background-color: var(--blue-color);
  color: white;
  box-shadow: 0 1px 3px gray;
}
.menu li:hover {
  background-color: var(--blue-color);
}
aside {
  background-color: var(--blue-color);
  padding: 15px;
  color: white;
  text-align: center;
  font-size: 14px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), rgba(0, 0, 0, 0.24);
}
footer {
  background-color: var(--blue-color);
  color: white;
  text-align: center;
  font-size: 12px;
  padding: 15px;
}
